---
const { items } = Astro.props
---

<ul class="mb-5 mt-8 not-prose">
	{
		items.map((item, index) => (
			<li class="mb-6 last:mb-0">
				<div class="mb-3 flex items-center gap-3">
					<span class="grid size-10 place-items-center rounded-full bg-blue/20 font-semibold">{index + 1}</span>
					<h3 class="text-xl font-semibold text-primary">{item.title}</h3>
				</div>
				<p>{item.text}</p>
			</li>
		))
	}
</ul>

