---
import Advantages from '@/components/Advantages.astro'
import Hero from '@/components/Hero.astro'
import Reasons from '@/components/Reasons.astro'
import Rooms from '@/components/Rooms.astro'
import Services from '@/components/Services.astro'
import Steps from '@/components/Steps.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
	<div class='container'>
		<Hero />
		<Advantages />
		<Steps />
		<Services />
		<Rooms />
		<Reasons />
	</div>
</Layout>
