---
import Grid from '@/components/Grid.astro'
import Reasons from '@/components/Reasons.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <div class="py-10 md:py-24">
    <Grid image={import('@/assets/cleaning/grout.png')}>
      <h2>Tile & Grout Cleaning</h2>
      <p>
        Over time your tile and grout can begin to get a film on it. This gets worse over time because the grout sealer wears out. First we use our power scrubber to dig out the film on your grout.
      </p>
      <h2>Grout Sealer</h2>
      <p>Then we use our strong steam cleaning machines to rinse your tile clean. Plus: Most our tile cleaning packages include a commercial grade grout sealer to make upkeep much easier.</p>
			
    </Grid>
		<Reasons />
  </div>
</Layout>

<script>
  import '@/components/ui/embla/index'
</script>
