---
import Reasons from '@/components/Reasons.astro'
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
const reasons = [
  {
    title: 'Pre­-Vacuum',
    description:
      'We use a handheld upholstery vacuum with a power brush to remove fine dust and hairs from the furniture, we are the only company that uses this type of vacuum for furniture. Pre-Vacuuming is very important during furniture cleaning.',
  },
  {
    title: 'Cleaning Techs',
    description:
      'Probable the most important reason to choose Modern. Our cleaning Techs have all been personally trained by me, the owner. The average employee is with us for years not months and we constantly receive calls at the office complimenting how nice and professional our cleaning techs are.',
  },
  {
    title: 'Experience',
    description:
      'Over 20 years! Yes we have been providing service in Chico for over 20 years now. In that time we have cleaned millions and millions of feet of carpet. We have cleaned the largest retail store in Chico, Forever 21, and provided cleaning service to Sierra Nevada Brewery. From residential homes to businesses, we are one of the most experienced companies in the area.',
  },
  {
    title: 'Education',
    description:
      "As the owner of the company I have been formally trained and certified to clean carpets. However the education didn't end there. I personally have communicated with the top chemists in our industry to create a system that helps your carpets stay clean longer.",
  },
  {
    title: 'Guarantee',
    description:
      "We boast of the industries best 30 day spot free guarantee. If you have your carpets cleaned by us and a spot returns or an area begins to re­soil in 30 days we will come out and re-­clean it for free*. No other company beats our service and that's why we can have the best guarantee.",
  },
]
---

<Layout title="Welcome to Astro.">
  <div class="py-10 md:py-24">
    <Reasons items={reasons} title="Upholstery Cleaning" image={import('@/assets/cleaning/upholstery.png')}>
      <div class="prose">
        <p>
          Modern cleans all upholstery in your home. From couches and recliners to dining room chairs. Our Technicians have been trained to bring your furniture back to life using the proper tools and
          cleaning agents. I consider our service the best value because we include a scotchguard like fabric protector in our price.
        </p>
        <p>Our five step upholstery cleaning process cleans your furniture and fabrics without damaging them. Every step helps get your items cleaner and helps them stay cleaner longer.</p>
      </div>
    </Reasons>
		<Reasons />
  </div>
</Layout>
