---
import { Image } from 'astro:assets'
import { MapPin, PhoneCall, Mail } from 'lucide-react'

const items = [
	{ label: 'Home', href: '/' },
	{ label: 'Carpet Cleaning', href: '/cleaning' },
	{ label: 'Upholstery Cleaning', href: '/cleaning' },
	{ label: 'Tile & Grout Cleaning', href: '/cleaning' },
	{ label: 'Carpet Repairs and Re-Stretching', href: '/cleaning' },
	{ label: 'Pricing', href: '/cleaning' },
	{ label: 'Contact', href: '/cleaning' },
]
---

<footer>
	<div class='bg-primary py-10'>
		<div class='container'>
			<div class='flex flex-col items-start justify-between gap-10 lg:flex-row'>
				<div>
					<a href='/' class='mb-5 flex gap-3'>
						<Image src={import('@/assets/logo.svg')} alt='logo' />
						<div class='flex flex-col'>
							<span class='text-2xl font-extrabold uppercase text-white'>Modern</span>
							<p class='text-sm text-white'>Carpet Cleaning</p>
						</div>
					</a>
					<p class='mb-10 text-white/80'>Modern Carpet Cleaning Chico</p>
					<div class='grid gap-4 text-white'>
						<a href='#' class='flex items-center gap-3 transition-colors hover:text-blue'>
							<MapPin />
							<p>562 Manzanita Ave #11, Chico, CA.</p>
						</a>
						<a href='#' class='flex items-center gap-3 transition-colors hover:text-blue'>
							<PhoneCall />
							<span>+1 (323)-330-0262</span>
						</a>
						<a href='#' class='flex items-center gap-3 transition-colors hover:text-blue'>
							<Mail />
							<span>info@carpetcleaningchico.com</span>
						</a>
					</div>
				</div>
				<div class='flex w-full flex-col gap-5 sm:w-auto'>
					<a href='#' class='order-2 block w-full rounded bg-white py-3 text-center text-lg text-primary transition-colors hover:bg-blue hover:text-white lg:-order-1 lg:mb-10 lg:ml-auto lg:w-[250px]'>
						Call
					</a>
					<ul class='grid max-w-fit gap-x-10 gap-y-5 sm:grid-cols-[auto_auto]'>
						{
							items.map(item => (
								<li class='text-white transition-colors hover:text-blue'>
									<a href={item.href}>{item.label}</a>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<p class='p-2 text-center text-sm text-primaryDark sm:text-base'>© Copyright 2024 Modern Carpet Cleaning · All Rights Reserved ·</p>
</footer>
