---
interface Props {
  title: string
}

import '@fontsource/inter/400.css'
import '@fontsource/inter/500.css'
import '@fontsource/inter/600.css'
import '@fontsource/inter/700.css'
import '@fontsource/inter/800.css'
import '@/styles/globals.css'
import Header from '@/components/common/Header.astro'
import Footer from '@/components/common/Footer.astro'
import Hero from '@/components/Hero.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[#F5F8FB] ">
    <Header />
    <main class="pt-10 overflow-x-hidden lg:overflow-x-clip">
      <div class="container">
        <Hero />
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
